<html >
<head>

</head>
<body>
	<% users.forEach(function(user){ %>
		Nombre<input type="text" value="<%= user.name %> "></input>
		Edad<input type="text" value="<%= user.age %> "></input>
		<% }) %>
</body>
</html>